@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SearchInput.jsx */
.search_input:focus {
  outline: none;
}

.vertical_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.memo_highlight {
  background: #e4f2fe;
}
